.floating-card {
    top: 70px;
    width: 200px;
    height: 100px;
    left: 10px;
    color: #1976d2;
    border: 1px solid #eee;
    background-color: #fafafa;
    border-radius: 4px;    
    padding: 16px;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}